/* Configuracion de fuente */
* {
    font-family: 'Open Sans', sans-serif;
}

/* Configuracion de NavBar */
/* .navbar-fixed {
    opacity: 90%;
} */

.nav-wrapper .buttons #R-but a {
    margin-left: 0px;
}

.nav-wrapper .buttons #R-but a:hover {
    background-color: #F6C667;
}

/* Configuracion de Cartas para Materias */
#contenedorCarta2 .listaSesionesTablet {
    padding-left: 40px;
}

#contenedorCarta2 .listaSesiones {
    padding-left: 135px;
}

.card_review {
    border: 0 solid;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.card_review::after {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    content: ' ';
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    filter: blur(8px);
    z-index: -1;
}

#contenedorCarta2 {
    border: 0 solid;
    border-radius: 10px;
}

#cardRad {
    border-radius: 10px;
}

#cardRad img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Configuracion de Testimonios */
.testimoniosLanding {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.fondoTestimonios {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#testimonio h3 {
    color: white;
    margin-bottom: 0%;
}

#testimonio p {
    color: white;
    margin-top: 0%;
}

#carouselTestimonio {
    border: 0 solid;
    border-radius: 10px;
}

/* Configuracion de footer */
.page-footer ul li {
    padding: 10px;
}

.page-footer ul li a img {
    margin-right: 10px;
}